{% extends 'main.html' %}

{% block content %}
<div class="container">
    <form  class="form" action="{% url 'user-login' %}" method="POST" >
        {% csrf_token %}
        <span class="label label-default">Username: </span><input class='form-control' type='text' name='username' placeholder='Enter Username' /></br>
        <span class="label label-default">Password: </span><input class='form-control' type='password' name='password' placeholder="Enter Password" /></br>
        <input class="btn btn-success" type='submit' value='Login' /></br>
        <span class="help-block">If you dont have account then <a href="{% url 'create-user' %}">Sign UP </a></span>
    </form>
</div>
{% endblock %}