{% extends 'main.html' %}
{% load project_tags %}
{% block content %}
    {% if perms.projects.view_projects_visited_count %}
        <div class="text-center">{{'ProJeCts vIsIted:'|convert_to_titlecase}} {{request.session.projects_visited|length}}</div>
    {% endif %}
    <div class="container">
        <h2 class="text-left">Projects</h2>
        <h3 class="text-left">{{projects_description}}</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Title</th>
                    <th>Created At</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for obj in projects %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a> {{obj.title}}</a></td>
                        <td>{{obj.created_at}}</td>
                        {% if perms.projects.view_project %}
                            <td><a href="{% url 'get-project' obj.id %}">View</a></td>
                        {% endif %}
                        {% if perms.projects.change_project %}
                            <td><a href="{% url 'edit-project' obj.id %}">Edit</a></td>
                        {% endif %}
                        {% if perms.projects.delete_project %}
                            <td><a href="{% url 'delete-project' obj.id %}">Delete</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}